/* IMAGEM AJUSTADA */

.item img{
  width:58px;
  height:58px;

  object-fit:contain;

  border-radius:8px;

  flex-shrink:0;

  border:none;
}

/* IMAGEM MODAL AJUSTADA */

.modal-img{
  width:220px;
  height:220px;

  object-fit:contain;

  border-radius:10px;

  margin-bottom:10px;

  border:none;
}
