/* ITEM */

.item{
  display:flex;
  align-items:center;
  gap:14px;

  padding:12px 16px;
  margin:4px 0;

  background:rgba(0,0,0,0.45);

  border:1px solid rgba(255,215,120,0.15);

  border-radius:12px;

  cursor:pointer;

  transition:0.25s;

  overflow:hidden;
}

.item:hover{
  transform:translateX(6px);

  border-color:#f6d365;
}

/* IMAGEM AJUSTADA */

.item img{
  width:58px;
  height:58px;

  object-fit:contain;

  border-radius:8px;

  flex-shrink:0;
}

/* IMAGEM MODAL AJUSTADA */

.modal-img{
  width:220px;
  height:220px;

  object-fit:contain;

  border-radius:10px;

  margin-bottom:10px;
}
