/* ========================= */
/* DIVISÃO POR FACÇÃO */
/* ========================= */

.skill-rank{

  grid-column:1 / -1;

  display:flex;
  justify-content:center;
  align-items:center;


  margin:25px 0 10px;


  font-family:'Cinzel',serif;

  font-size:24px;

  color:#f6d365;

  letter-spacing:2px;

  text-transform:uppercase;


  position:relative;

}


/* linhas laterais */

.skill-rank::before,
.skill-rank::after{

  content:"";

  flex:1;

  height:1px;

  background:
  rgba(246,211,101,0.35);

}


.skill-rank::before{

  margin-right:20px;

}


.skill-rank::after{

  margin-left:20px;

}
