/* MODAL */

.efeito-modal{
  position:fixed;
  inset:0;

  display:none;
  justify-content:center;
  align-items:center;

  background:rgba(0,0,0,0.8);

  z-index:999999;
}

/* JANELA */

.efeito-window{
  width:90%;
  max-width:500px;

  background:rgba(10,10,10,0.96);

  border:1px solid rgba(255,215,120,0.2);

  border-radius:16px;

  padding:22px 22px 15px;

  position:relative;

  margin:auto;

  overflow:hidden;

  text-align:center;

  box-shadow:0 0 30px rgba(0,0,0,0.6);
}

/* =========================
   TITULO FUNCIONAMENTO
========================= */

.efeito-func-title{

  color:#f6d365;

  font-family:'Cinzel',serif;

  font-size:18px;

  margin-top:20px;

  margin-bottom:8px;

}


/* =========================
   TEXTOS
========================= */

.efeito-func{

  color:#ddd;

  line-height:1.5;

  text-align:center;

  font-size:14px;

  margin:8px 0;

}


/* =========================
   EXTRAS EM BOX
========================= */

.efeito-extras{

  display:flex;

  flex-direction:column;

  gap:10px;

  margin:15px 0;

}


.efeito-extra-box{

  background:rgba(255,215,120,0.08);

  border:1px solid rgba(246,211,101,0.25);

  border-radius:10px;

  padding:12px;

  color:#ddd;

  font-size:14px;

  line-height:1.4;

  text-align:left;

  box-shadow:0 0 10px rgba(0,0,0,0.3);

}


/* =========================
   BOTÃO EDITAR
========================= */

.efeito-edit-btn{

  width:100%;

  margin-top:15px;

  padding:12px;

  border:none;

  border-radius:10px;

  background:#f6d365;

  color:#111;

  font-family:'Cinzel',serif;

  font-size:14px;

  font-weight:bold;

  cursor:pointer;

  transition:.2s;

}


.efeito-edit-btn:hover{

  transform:scale(1.02);

  box-shadow:0 0 10px rgba(246,211,101,.4);

}


/* =========================
   BOTÃO FECHAR
========================= */

.efeito-close{

  position:absolute;

  top:10px;

  right:15px;

  background:none;

  border:none;

  padding:0;

  width:auto;

  height:auto;

  color:#f6d365;

  font-size:30px;

  line-height:1;

  cursor:pointer;

  transition:.3s;

}


.efeito-close:hover{

  transform:scale(1.1);

  color:#fff;

}


/* =========================
   TITULO E IMAGEM
========================= */

.efeito-title{

  color:#f6d365;

  font-family:'Cinzel',serif;

}


.efeito-img{

  max-width:100%;

  display:block;

  margin:auto;

}


.efeito-desc{

  color:#ddd;

  line-height:1.5;

  text-align:center;

  font-size:14px;

}
