/* LISTA */

#list{
  max-width:900px;
  margin:auto;
  padding:5px 20px 60px;

  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:10px;
}

/* CELULAR */

@media(max-width:700px){

  #list{
    grid-template-columns:1fr;
  }

}
/* TIER SEPARADOR */

.tier-sep{
  grid-column: 1 / -1;
  display:flex;
  justify-content:center;
}

.tier-sep img{
  width:300px;
}

.tier-sep{
  position:relative;
}

.tier-sep::after{
  content:"";
  position:absolute;
  top:-6px;
  left:10%;
  width:80%;
  height:1px;
  background:rgba(246,211,101,0.35);
}

/* ITEM */

.item{
  display:flex;
  align-items:center;
  gap:15px;

  padding:14px 18px;
  margin:4px 0;

  background:rgba(0,0,0,0.45);
  border:1px solid rgba(255,215,120,0.15);
  border-radius:12px;

  cursor:pointer;
  transition:0.25s;

  overflow:hidden;
}

/* MOLDURA 3:2 LISTA */
.item img{
  width:70px;
  height:46px;
  object-fit:cover;

  border-radius:8px;
  border:1px solid rgba(246,211,101,0.35);
}

.item:hover{
  transform:translateX(6px);
  border-color:#f6d365;
}

.item span{
  font-family:'Cinzel', serif;
  color:#f6d365;
}

/* MODAL */

/* MODAL */

.modal{
  position:fixed;
  inset:0;

  display:none;
  justify-content:center;
  align-items:center;

  background:rgba(0,0,0,0.8);

  z-index:1000;
}

/* JANELA */

.modal-content{
  width:90%;
  max-width:500px;

  background:rgba(10,10,10,0.96);

  border:1px solid rgba(255,215,120,0.2);

  border-radius:16px;

  padding:22px;

  position:relative;

  margin:auto;

  overflow:hidden;

  text-align:center;

  box-shadow:0 0 30px rgba(0,0,0,0.6);
}

/* IMAGEM (NÃO MEXI) */

.modal-img{
  width:280px;
  height:180px;

  object-fit:cover;

  border-radius:10px;
  border:1px solid rgba(246,211,101,0.4);

  margin-bottom:10px;
}

/* TIER */

.modal-tier-img{
  width:210px;
  margin:10px 0;
}

/* NOME */

.modal-content h2{
  color:#f6d365;

  font-family:'Cinzel', serif;

  font-size:28px;

  margin-bottom:10px;

  letter-spacing:1px;
}

/* DESCRIÇÃO */

.modal-content p{
  color:#ddd;

  line-height:1.5;

  text-align:center;

  font-size:14px;

  margin:8px 0;
}

/* BOTÕES */

.modal-content button:not(.close-item-x){
  width:100%;

  margin-top:12px;

  padding:12px;

  border:none;
  border-radius:10px;

  cursor:pointer;

  background:linear-gradient(to bottom,#8f1408,#5e0800);

  border:1px solid rgba(246,211,101,0.2);

  color:#f6d365;

  font-family:'Cinzel', serif;

  font-size:14px;

  transition:0.2s;
}

.modal-content button:hover{
  transform:scale(1.01);

  border-color:#f6d365;
}

.add-skill-btn{

    margin-top:10px;

    width:90%;

    padding:10px 15px;

    background:#1f1f1f;

    color:#d6b56c;

    border:1px solid #d6b56c;

    border-radius:8px;

    font-family:inherit;

    font-size:14px;

    font-weight:bold;

    cursor:pointer;

    transition:.2s;

}


.add-skill-btn:hover{

    background:#d6b56c;

    color:#111;

}
