/* CONTAINER */

.combat-container{
  width:100%;
  max-width:1200px;

  margin:auto;

  padding:20px 20px 120px;

  display:flex;
  flex-direction:column;
  gap:70px;
}

/* CAPITULO */

.combat-section{
  display:flex;
  align-items:center;
  gap:40px;

  background:rgba(0,0,0,0.35);

  border:1px solid rgba(255,215,120,0.12);

  border-radius:24px;

  overflow:hidden;

  backdrop-filter:blur(5px);

  box-shadow:0 10px 30px rgba(0,0,0,0.35);
}

/* INVERTER */

.combat-section.reverse{
  flex-direction:row-reverse;
}

/* IMAGEM */

.combat-image{
  width:42%;
  min-height:320px;
}

.combat-image img{
  width:100%;
  height:100%;

  object-fit:cover;

  display:block;
}

/* TEXTO */

.combat-content{
  flex:1;

  padding:40px;
}

.chapter{
  display:inline-block;

  font-family:'Cinzel', serif;

  color:#f6d365;

  letter-spacing:2px;

  font-size:14px;

  margin-bottom:14px;
}

.combat-content h2{
  font-family:'Cinzel', serif;

  font-size:34px;

  color:#fff0c5;

  margin-bottom:18px;
}

/* LISTRA */

.divider{
  width:100%;
  max-width:180px;
  height:2px;

  background:
    linear-gradient(
      to right,
      #f6d365,
      transparent
    );

  margin-bottom:24px;
}

.combat-content p{
  color:#ddd;

  font-size:17px;

  line-height:1.9;
}

/* RESPONSIVO */

@media(max-width:950px){

  .combat-section,
  .combat-section.reverse{
    flex-direction:column;
  }

  .combat-image{
    width:100%;
    min-height:260px;
  }

  .combat-content{
    padding:30px;
  }
}

@media(max-width:700px){

  .page-title h1{
    font-size:36px;
  }

  .combat-content h2{
    font-size:28px;
  }

  .combat-content p{
    font-size:15px;
  }
}
