/* TÍTULO (IGUAL JOGADORES) */

.guide-title{
  text-align:center;

  margin-top:60px;
  margin-bottom:40px;
}

.guide-title h1{
  font-family:'Cinzel', serif;

  font-size:42px;
  font-weight:700;

  color:#f6d365;

  letter-spacing:2px;

  text-shadow:2px 2px 6px rgba(0,0,0,0.8);

  margin-bottom:12px;
}

.guide-title p{
  font-family:'Cinzel', serif;

  color:#f5e6c8;

  font-size:16px;

  text-shadow:2px 2px 6px rgba(0,0,0,0.9);
}

/* CONTAINER */

.guide-container{
  width:100%;
  max-width:1100px;

  margin:auto;

  display:grid;

  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));

  gap:25px;

  padding:20px 20px 80px;
}

/* CARD */

.guide-card{
  background:rgba(0,0,0,0.45);

  border:1px solid rgba(255,215,120,0.2);

  border-radius:18px;

  padding:25px;

  backdrop-filter:blur(6px);

  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;

  transition:0.3s;

  box-shadow:0 8px 20px rgba(0,0,0,0.35);
}

.guide-card:hover{
  transform:translateY(-2px);
  border-color:#f6d365;
}

/* TITULO CARD */

.guide-card h2{
  font-family:'Cinzel', serif;

  font-size:24px;

  color:#f6d365;

  margin-bottom:8px;
}


@media(max-width:700px){

  .guide-title h1{
    font-size:34px;
  }
}
