*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial;
  overflow:hidden;
  color:white;
}

/* Fundo */

.background{
  position:fixed;
  width:100%;
  height:100vh;

  background-image:url('https://i.imgur.com/pKx1Cvd.png');
  background-size:cover;
  background-position:center;

  z-index:-2;
}

.overlay{
  position:fixed;
  width:100%;
  height:100vh;

  background:rgba(0,0,0,0.65);

  z-index:-1;
}

/* Navbar */

.navbar{
  width:100%;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 60px;

  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(6px);
}

.logo-area{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo{
  width:70px;
}

.logo-text{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.logo-text h1{
  color:#f6d365;
  font-size:28px;
  margin:0;
}

.logo-text p{
  font-size:20px;
  letter-spacing:10px;
  margin:0;
  text-align:center;
}

/* Links */

nav{
  display:flex;
  gap:30px;
}

nav a{
  color:white;
  text-decoration:none;
  font-weight:bold;
  transition:0.3s;
}

nav a:hover{
  color:#f6d365;
}

/* Hero */

.hero{
  width:100%;
  min-height:85vh;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  text-align:center;

  padding:20px;
}

/* LOGO CENTRAL CORRIGIDO */
.main-logo{
  width:350px; /* tamanho ajustado */
  max-width:80%;

  height:auto;

  margin-bottom:30px;
}

/* Texto */
.hero p{
  font-size:24px;
  max-width:900px;

  line-height:1.6;

  margin-bottom:40px;
}

/* Botão */

.hero button{
  padding:22px 45px;

  border:none;
  border-radius:18px;

  background:#8b0000;

  color:white;

  font-size:24px;
  font-weight:bold;

  cursor:pointer;

  transition:0.3s;
}

.hero button:hover{
  transform:scale(1.05);
  background:#b30000;
}
