*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Cinzel', serif;
  overflow:hidden;
  color:white;
}

/* FUNDO */

.background{
  position:fixed;
  width:100%;
  height:100vh;

  background-image:url('https://i.imgur.com/pKx1Cvd.png');
  background-size:cover;
  background-position:center;

  z-index:-2;
}

.overlay{
  position:fixed;
  width:100%;
  height:100vh;

  background:rgba(0,0,0,0.65);

  z-index:-1;
}

/* NAVBAR */

.navbar{
  width:100%;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 60px;

  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(6px);
}

/* LOGO */

.logo-area{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo{
  width:70px;
}

.logo-text{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.logo-text h1{
  color:#f6d365;
  font-size:28px;
}

.logo-text p{
  font-size:18px;
  letter-spacing:8px;
}

/* MENU */

nav{
  display:flex;
  gap:35px;
}

nav a{
  position:relative;

  color:#e8d8a8;
  text-decoration:none;

  font-weight:600;

  transition:0.3s;
}

/* linha dourada */
nav a::after{
  content:"";

  position:absolute;
  left:0;
  bottom:-6px;

  width:0%;
  height:2px;

  background:#d4a017;

  transition:0.3s;
}

nav a:hover{
  color:#ffd86a;
  text-shadow:0 0 10px rgba(255,215,0,0.4);
}

nav a:hover::after{
  width:100%;
}

/* HERO */

.hero{
  width:100%;
  min-height:85vh;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  text-align:center;

  padding:20px;
}

/* LOGO CENTRAL */

.main-logo{
  width:350px;
  max-width:80%;

  margin-bottom:30px;
}

/* TEXTO */

.hero p{
  font-size:24px;
  max-width:900px;

  line-height:1.6;

  margin-bottom:40px;
}

/* BOTÃO JORNADA */

.hero button{
  position:relative;

  padding:24px 60px;

  border-radius:18px;
  border:2px solid #d4a017;

  background:
  linear-gradient(
    to bottom,
    #b32617 0%,
    #7a1208 50%,
    #4a0703 100%
  );

  color:#f8e7b0;

  font-size:26px;
  font-weight:700;

  font-family:'Cinzel', serif;

  cursor:pointer;

  transition:0.3s;

  text-shadow:0 2px 6px rgba(0,0,0,0.8);

  box-shadow:
    inset 0 2px 10px rgba(255,255,255,0.1),
    inset 0 -4px 10px rgba(0,0,0,0.35),
    0 10px 25px rgba(0,0,0,0.6);
}

/* brilho topo */
.hero button::before{
  content:"";

  position:absolute;
  top:0;
  left:0;

  width:100%;
  height:50%;

  background:linear-gradient(
    to bottom,
    rgba(255,255,255,0.18),
    transparent
  );

  border-radius:18px;

  pointer-events:none;
}

/* hover */
.hero button:hover{
  transform:translateY(-3px) scale(1.05);

  background:
  linear-gradient(
    to bottom,
    #d5301c 0%,
    #94180b 50%,
    #5a0904 100%
  );

  box-shadow:
    0 0 25px rgba(255,180,0,0.35),
    0 12px 30px rgba(0,0,0,0.7);
}

/* click */
.hero button:active{
  transform:scale(0.98);
}
