* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;

  background-image: url('https://i.imgur.com/pKx1Cvd.png');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial;
}

.overlay {
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  color: white;

  width: 90%;
  max-width: 400px;
}

h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
