@font-face{

    font-family:"Mishaland";

    src:url("../fontes/Mishaland.ttf") format("truetype");

    font-weight:normal;

    font-style:normal;

}

@font-face{

    font-family:"Radiant";

    src:url("../fontes/Radiant.ttf") format("truetype");

    font-weight:normal;

    font-style:normal;

}

@font-face{

    font-family:"Dopestyle";

    src:url("../fontes/Dopestyle.ttf") format("truetype");

    font-weight:normal;

    font-style:normal;

}

@font-face{

    font-family:"Headlight";

    src:url("../fontes/Headlight.ttf") format("truetype");

    font-weight:normal;

    font-style:normal;

}

@font-face{

    font-family:"Martyric_PersonalUse";

    src:url("../fontes/Martyric_PersonalUse") format("truetype");

    font-weight:normal;

    font-style:normal;

}

@font-face{

    font-family:"Eclipse Demo";

    src:url("../fontes/Eclipse Demo.ttf") format("truetype");

    font-weight:normal;

    font-style:normal;

}

@font-face{

    font-family:"Pink Blue";

    src:url("../fontes/Pink Blue.ttf") format("truetype");

    font-weight:normal;

    font-style:normal;

}

@font-face{

    font-family:"Feelin Sweet";

    src:url("../fontes/Feelin Sweet.ttf") format("truetype");

    font-weight:normal;

    font-style:normal;

}

.card-modal{

    position:fixed;
    inset:0;

    background:rgba(0,0,0,.82);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:5000;

}


.card-window{

    position:relative;

    width:460px;
    max-width:95vw;

    padding:20px 20px 10px;

    background:rgba(10,10,10,0.96);

    border-radius:18px;

    border:2px solid #8b6a3d;

    box-shadow:
    0 0 25px rgba(0,0,0,.8),
    inset 0 0 20px rgba(255,255,255,.05);

    display:flex;

    flex-direction:column;

    align-items:center;

}



.close-card{

    position:absolute;

    top:10px;
    right:10px;

    width:35px;
    height:35px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    font-size:22px;

    background:#8b0000;

    color:white;

    display:flex;

    justify-content:center;
    align-items:center;

    z-index:10;

    box-shadow:
    0 0 10px #000;

}


.close-card:hover{

    transform:scale(1.1);

}

/* =========================
   MOLDURA CARD
========================= */


.card-frame{

    padding:0px;

    border:3px solid #d4af37;

    border-radius:5px;

    background:#000;

}

.card-image-area{

    position:relative;

}



.card-img{

    width:380px;
    aspect-ratio: 3 / 2;
    max-width:90vw;

    display:block;

}



/* =========================
   CARD TEXTO BASE
========================= */


.card-nome{

    position:absolute;

    top:0px;
    left:50%;

    transform:translateX(-50%);

    width:90%;

    text-align:center;

    font-family:'Mishaland', serif;

    font-size:40px;

    color:#fff;

    text-shadow:
    0 0 6px #000,
    0 0 12px #000,
    2px 2px 6px #000;

}


/* =========================
   ATRIBUTOS E RANK
========================= */


.card-bottom{

    position:absolute;

    left:10px;

    right:10px;

    bottom:0px;


    display:flex;

    justify-content:space-between;

    align-items:flex-end;

}



.card-atributos{

    display:flex;

    flex-direction:column;

    gap:0px;

    color:#fff;

    font-family:'Radiant',serif;

    font-size:24px;

    font-weight:bold;

    text-shadow:

    0 0 6px #000,

    2px 2px 5px #000;

}



.card-rank{

    color:#ffd54f;

    font-family:'Pink Blue',serif;

    font-size:16px;

    font-weight:bold;

    text-align:right;

    text-shadow:

    0 0 8px #000,

    2px 2px 6px #000;

}


/* BOTÃO DOWNLOAD */

.download-card{

    margin-top:10px;

    padding:10px 30px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-family:'Cinzel',serif;

    font-size:16px;

    font-weight:bold;

    background:#fff;

    color:#000;

    transition:.2s;

}


.download-card:hover{

    transform:scale(1.05);

}



/* MOBILE */

@media(max-width:700px){


    .card-img{

        width:320px;

    }


    .card-nome{

        font-size:30px;

    }


    .card-atributos{

        font-size:18px;

        gap:0px;

    }


    .card-rank{

        font-size:10px;

    }


    .download-card{

        padding:9px 24px;

        font-size:14px;

    }

}

/* ===========================
   EDITOR
=========================== */

.card-editor{

    width:100%;
    max-width:420px;

    margin-top:15px;
    padding:15px;

    background:#111;

    border:1px solid rgba(246,211,101,.25);
    border-radius:12px;

    color:white;

    font-family:Arial,serif;

}


/* =========================
   EDITOR LINHAS
========================= */


.editor-row{

    display:flex;

    align-items:center;

    gap:7px;

    width:100%;

    margin-bottom:10px;

}



.editor-row:last-child{

    margin-bottom:0;

}



.editor-row label{

    width:75px;

    color:#f6d365;

    font-family:Arial,sans-serif;

    font-size:14px;

}



/* SELECT FONTE */

.editor-row select{

    flex:1;

    height:32px;

    background:#111;

    color:white;

    border:1px solid rgba(246,211,101,.25);

    border-radius:8px;

    padding:0 8px;

    outline:none;

    cursor:pointer;

}



/* BOLINHA */

.color-wrapper{

    position:relative;

}



.color-picker{

    width:30px;

    height:30px;

    min-width:30px;

    border-radius:50%;

    border:1px solid rgba(255,255,255,.5);

    background:white;

    cursor:pointer;

}



/* PALETA */

.color-menu{

    position:absolute;

    top:38px;

    right:0;

    width:120px;

    padding:8px;

    background:#111;

    border:1px solid rgba(246,211,101,.25);

    border-radius:10px;

    display:none;

    grid-template-columns:repeat(4,1fr);

    gap:8px;

    z-index:9999;

}



.color-menu button{

    width:22px;

    height:22px;

    border-radius:50%;

    border:1px solid #555;

    cursor:pointer;

}



/* CORES */

.color-menu button:nth-child(1){
    background:#000;
}

.color-menu button:nth-child(2){
    background:#fff;
}

.color-menu button:nth-child(3){
    background:#d4af37;
}

.color-menu button:nth-child(4){
    background:#c0c0c0;
}

.color-menu button:nth-child(5){
    background:#ff0000;
}

.color-menu button:nth-child(6){
    background:#0066ff;
}

.color-menu button:nth-child(7){
    background:#00aa44;
}

/* =========================
   SELECT TAMANHO DA FONTE
========================= */

#tamanho-nome,
#tamanho-atributo{

    width:45px;

    height:32px;

    flex:none;

    background:#111;

    color:white;

    border:1px solid rgba(246,211,101,.25);

    border-radius:8px;

    padding:0 3px;

    outline:none;

    cursor:pointer;

    text-align:center;

    font-family:Arial,sans-serif;

    font-size:12px;

}


#tamanho-nome:hover,
#tamanho-atributo:hover{

    border-color:#f6d365;

}

/* =========================
   POSIÇÕES DOS CARDS
========================= */


/* =========================
   TIPO 1
   Nome centro superior
   Atributos esquerda inferior
   Rank direita inferior
========================= */

.posicao-1 .card-nome{

    left:50%;
    transform:translateX(-50%);

}


.posicao-1 .card-atributos{

    position:absolute;
    right:0px;

}


.posicao-1 .card-rank{

    position:absolute;
    left:0px;

}



/* =========================
   TIPO 2
   Nome centro superior
   Rank esquerda inferior
   Atributos direita inferior
========================= */

.posicao-2 .card-nome{

    left:50%;
    transform:translateX(-50%);

}


.posicao-2 .card-atributos{

    position:absolute;
    left:0px;

}


.posicao-2 .card-rank{

    position:absolute;
    right:0px;

}



/* =========================
   TIPO 3
   Nome esquerda superior
   Rank esquerda inferior
   Atributos direita inferior
========================= */

.posicao-3 .card-nome{

    left:10px;

    transform:none;

    text-align:left;

}


.posicao-3 .card-atributos{

    position:absolute;
    right:0px;

}


.posicao-3 .card-rank{

    position:absolute;
    left:0px;

}



/* =========================
   TIPO 4
   Nome direita superior
   Atributos esquerda inferior
   Rank direita inferior
========================= */

.posicao-4 .card-nome{

    left:auto;

    right:10px;

    transform:none;

    text-align:right;

}


.posicao-4 .card-atributos{

    position:absolute;
    left:0px;

}


.posicao-4 .card-rank{

    position:absolute;
    right:0px;

}



/* =========================
   TIPO 5
   Nome esquerda inclinado /
   Rank esquerda inferior
   Atributos direita inferior
========================= */

.posicao-5 .card-nome{

    left:10px;

    top:20px;

    width:auto;

    max-width:55%;

    text-align:left;

    transform:rotate(-8deg);

    transform-origin:left top;

    overflow-wrap:break-word;

}


.posicao-5 .card-atributos{

    position:absolute;
    right:0px;

}


.posicao-5 .card-rank{

    position:absolute;
    left:0px;

}



/* =========================
   TIPO 6
   Nome direita inclinado \
   Atributos esquerda inferior
   Rank direita inferior
========================= */

.posicao-6 .card-nome{

    left:auto;

    right:10px;

    top:20px;

    width:auto;

    max-width:55%;

    text-align:right;

    transform:rotate(8deg);

    transform-origin:right top;

    overflow-wrap:break-word;

}


.posicao-6 .card-atributos{

    position:absolute;

    left:0px;
}


.posicao-6 .card-rank{

    position:absolute;

    right:0px;

}


.card-editor{
    display:none;
}

@media(max-width:700px){


    .fonte-Eclipse .card-nome{
        top:0px;
    }


    .fonte-Dopestyle .card-nome{
        top:8px;
    }

}
