```css id="yyv57m"
.inventory-modal,
.item-modal{
  position:fixed;
  inset:0;

  background:rgba(0,0,0,0.7);

  display:none;

  justify-content:center;
  align-items:center;

  z-index:9999;
}

.inventory-window{
  width:90%;
  max-width:430px;

  background:rgba(10,10,10,0.96);

  border:1px solid rgba(255,215,120,0.2);

  border-radius:16px;

  padding:20px;

  position:relative;
}

.item-window{
  width:90%;
  max-width:380px;

  background:rgba(10,10,10,0.96);

  border:1px solid rgba(255,215,120,0.2);

  border-radius:16px;

  padding:22px;

  position:relative;
}

/* =========================
   HEADER
========================= */

.inventory-header{
  display:flex;
  justify-content:center;
  align-items:center;

  margin-bottom:15px;
}

.inventory-header h2{
  color:#f6d365;
  font-family:'Cinzel', serif;

  text-align:center;
}

/* =========================
   BOTÃO X
========================= */

.close-btn,
.close-item-x{
  position:absolute;

  top:12px;
  right:12px;

  width:36px;
  height:36px;

  padding:0;

  display:flex;
  align-items:center;
  justify-content:center;
}

/* =========================
   LISTA INVENTÁRIO
========================= */

.inventory-list{
  display:flex;
  flex-direction:column;

  gap:8px;

  height:560px;
}

.inventory-item{
  background:rgba(255,255,255,0.05);

  border:1px solid rgba(255,215,120,0.15);

  border-radius:10px;

  height:48px;

  padding:0 12px;

  cursor:pointer;

  transition:0.2s;

  display:flex;
  align-items:center;
}

.inventory-item:hover{
  transform:scale(1.01);
}

.inventory-item-top{
  display:flex;
  align-items:center;
  gap:10px;

  width:100%;
}

.inventory-emoji{
  font-size:22px;
}

.inventory-name{
  color:#f6d365;
  font-family:'Cinzel', serif;

  font-size:14px;
}

.inventory-qty{
  margin-left:auto;

  color:#ccc;
  font-size:12px;
}

/* =========================
   ITEM ABERTO
========================= */

.item-top{
  display:flex;
  flex-direction:column;

  align-items:center;
  text-align:center;

  gap:15px;
}

.item-emoji{
  font-size:70px;
}

.item-info{
  text-align:center;
}

.item-info h2{
  color:#f6d365;
  font-family:'Cinzel', serif;

  margin-bottom:10px;
}

.item-info p{
  color:#ddd;
  line-height:1.5;

  text-align:center;
}

/* =========================
   BOTÕES ITEM
========================= */

.item-actions{
  display:flex;
  gap:10px;

  margin-top:25px;
}

.item-actions button{
  flex:1;
}
```
